# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
/build
/dist

# Testing
coverage/

# Environment variables
.env
.env.*
!.env.example

# Optional files
.vscode/
.idea
.DS_Store